<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link type="text/css" rel="stylesheet" th:href="@{/static/layout/vendor/fontawesome-free/css/all.min.css}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link type="text/css" rel="stylesheet" th:href="@{/static/layout/css/sb-admin-2.min.css}">
</head>
<body>
<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">BAP Login!</h1>
                                </div>
                                <div class="user" th:object="${userRequest}">
                                    <div class="form-group">
                                        <p class="alert-danger" id="loginMsg"></p>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-user"
                                               th:field="*{email}" aria-describedby="emailHelp"
                                               placeholder="Enter Email Address...">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user"
                                               th:field="*{password}" placeholder="Password">
                                    </div>
                                    <span class="btn btn-primary btn-user btn-block" onclick="submitLogin()">
                                        Login
                                    </span>
                                </div>
                                <hr>
                                <div class="text-center">
                                    <a class="small" th:href="@{/register}">Create an Account!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/static/layout/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/static/layout/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/static/layout/vendor/jquery-ui/jquery-ui.js}"></script>
<script th:src="@{/static/layout/vendor/js-cookie/js.cookie.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/static/layout/js/sb-admin-2.min.js}"></script>
<script th:src="@{/static/layout/js/common.js}"></script>

<script th:inline="javascript">
    function submitLogin() {
        $.ajax({
            url: "/users/login",
            type: 'POST',
            contentType: "application/json",
            data: getFormData()
        }).done(function (data, textStatus, request) {
            getAuthorizationValue(request);
            if (getAuthorization() != null) {
                window.location.href = "/checkin";
            } else {
                $("#loginMsg").text("Login Fail!")
            }
        });
    }

    function getFormData() {
        return JSON.stringify({
            "email": $("#email").val(),
            "password": $("#password").val()
        });
    }
</script>
</body>
</html>