<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BAP - Register</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/static/layout/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/static/layout/css/sb-admin-2.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/static/layout/vendor/jquery-ui/jquery-ui.css}">
</head>

<body class="bg-gradient-primary">

<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                        </div>
                        <form class="user" th:object="${account}">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" class="form-control form-control-user"
                                           th:field="*{userName}"
                                           placeholder="User Name">
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-user"
                                           th:field="*{name}"
                                           placeholder="Name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" class="form-control form-control-user"
                                           th:field="*{birthday}"
                                           placeholder="Birthday">
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-user"
                                           th:field="*{phoneNumber}"
                                           placeholder="Phone Number">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control form-control-user"
                                       th:field="*{email}"
                                       placeholder="Email">
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="password" class="form-control form-control-user"
                                           th:field="*{password}"
                                           placeholder="Password">
                                </div>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control form-control-user"
                                           id="repeatPassword" placeholder="Repeat Password">
                                </div>
                            </div>
                            <span class="btn btn-primary btn-user btn-block" onclick="submitRegister()">
                                Register Account
                            </span>
                            <hr>
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" th:href="@{/login}" id="loginPage">Already have an account? Login!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/static/layout/vendor/jquery/jquery-3.6.0.min.js}"></script>
<script th:src="@{/static/layout/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/static/layout/vendor/jquery-ui/jquery-ui.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/static/layout/js/sb-admin-2.min.js}"></script>

<script th:inline="javascript">
    $(document).ready(function () {
        var DATE_FORMAT = 'yy-mm-dd';
        $("#birthday").datepicker(
            {
                dateFormat: DATE_FORMAT,
                todayHighlight: true,
                defaultDate: '1994-01-01',
                autoclose: true
            }
        );
    });

    function submitRegister() {
        var url = "/register";
        var dataForm = getFormData();
        $.ajax({
            url: url,
            type: 'POST',
            contentType: "application/json",
            dataType: "json",
            data: dataForm,
        }).done(function (data) {
            if (data !== null && data.userName === $("#userName").val()) {
                console.log(data);
                window.location.href = $("#loginPage").attr('href');
            }
        });
    }

    function getFormData() {
        return JSON.stringify({
            "userName": $("#userName").val(),
            "name" : $("#name").val(),
            "password": $("#password").val(),
            "birthday": $("#birthday").val(),
            "phoneNumber": $("#phoneNumber").val(),
            "email": $("#email").val()
        });
    }
</script>

</body>

</html>