<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link type="text/css" rel="stylesheet" th:href="@{/static/layout/vendor/fontawesome-free/css/all.min.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link type="text/css" rel="stylesheet" th:href="@{/static/layout/css/sb-admin-2.min.css}" >
    <link rel="stylesheet" th:href="@{/static/layout/vendor/jquery-ui/jquery-ui.css}">
    <link rel="stylesheet" th:href="@{/static/layout/vendor/toastr/toastr.css}">

    <!-- Bootstrap core JavaScript-->
    <script th:src="@{/static/layout/vendor/jquery/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/static/layout/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/static/layout/vendor/jquery-ui/jquery-ui.js}"></script>
    <script th:src="@{/static/layout/vendor/toastr/toastr.min.js}"></script>
</head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="/fragments/sidebar :: sidebar"></ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="/fragments/header :: header"></nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid" layout:fragment="content">

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer th:replace="/fragments/footer :: footer">
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Core plugin JavaScript-->
<script th:src="@{/static/layout/vendor/jquery-easing/jquery.easing.min.js}"></script>
<script th:src="@{/static/layout/vendor/toastr/toastr.min.js}"></script>
<script th:src="@{/static/layout/vendor/js-cookie/js.cookie.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/static/layout/js/sb-admin-2.min.js}"></script>
<script th:src="@{/static/layout/js/common.js}"></script>

</body>
</html>